/* import font family in css*/

@import url(./font.css);

/*import variables file in css*/

@import url(./partials/_variables.css);

/*import global var*/

@import url(./partials/_global.css);
/*Start Navigation */

.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}
.header_area .main-menu .navbar {
  padding: 1rem 15rem;
}

.header_area .main-menu .nav-item .nav-link {
  font: normal var(--roboto);
  padding: 1rem;
  color: var(--title-color);
  text-transform: uppercase;
}

.header_area .main-menu .nav-item .active {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .nav-item a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(248, 247, 247, 0.5);
  z-index: 9999999999999;
  box-shadow: var(--box-shadow);
}
/*End Navigation*/

/*bannner site*/

.site-main .site-banner {
  background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
}
.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}
.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10);
}
.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}
.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}
.site-main .site-banner .banner-image img {
  padding: 5rem 0;
}
.site-main .about-site {
  padding: 8rem 5rem;
}
.site-main .about-site .about-title h2 span {
  display: block;
  letter-spacing: 20px;
  font: normal 500 50px/60px var(--roboto);
}

.site-main .about-site .about-title .paragraph p {
  padding: 1rem 0;
}

/*brand*/

.site-main .brand-site {
  padding: 1rem 15rem;
  margin-bottom: 10rem;
  /* background-color: teal; */
}
.site-main .brand-site .first-row .col-lg-4 {
  display: flex;
  justify-content: center;
}
.site-main .brand-site .first-row .col-lg-4 .single-brand {
  border: 1px solid var(--border-color);
  text-align: center;
  padding: 1.8rem 0rem;
  margin: 0.9rem 0;
  width: 180px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.6s ease;
}

.site-main .brand-site .first-row .col-lg-4 .single-brand img {
  width: 50%;
}
.site-main .brand-site .first-row .col-lg-4 .single-brand:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.3);
}
.site-main .brand-site .first-row .col-lg-4 .single-brand:hover img {
  filter: brightness(0.15);
}

.site-main .brand-site .experience-area {
  padding-left: 1rem;
}
.site-main .brand-site .experience-area span {
  display: block;
  font: normal 600 22px/30px var(--roboto);
}
.site-main .brand-site .experience-area .years-area {
  background: url(../img/client-info-bg.png) no-repeat 45px 20px;
  padding: 2rem 0;
  width: 40rem;
  height: 18rem;
  padding-left: 8rem;
  position: relative;
}
.site-main .brand-site .experience-area .bg-panel {
  position: absolute;
  left: -190px;
  top: 0;
  background: #e029290a;
  width: 400px;
  height: 400px;
  margin-left: 340px;
  z-index: -1;
}
.site-main .brand-site .experience-area .years-area .years {
  font: normal bold 84px/40px var(--roboto);
  color: var(--primary-color2);
}
.site-main .brand-site .experience-area .call-area {
  padding-left: 10rem;
}
/*Services Area .... */
.site-main .services-area {
  padding: 7rem 2rem;
}

.site-main .services-area h1 {
  font-size: 35px;
}
.site-main .services-area .service-title {
  padding: 0 14rem;
}
.site-main .services-area .services {
  background: rgba(248, 252, 253, 0.973);
  width: 16rem;
  padding: 2rem 0;
  margin: 5rem 0.5rem;
  transition: box-shadow 0.7s ease;
}

.site-main .services-area .services:hover {
  box-shadow: var(--box-shadow);
}

/*project */

.site-main .project-area {
  padding: 4rem 0;
}

.site-main .project-area .button-group button {
  border: none;
  font: normal 500 14px/130px var(--roboto);
  background: transparent;
  text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
  padding-left: 3rem;
}
.site-main .project-area .grid .our-project > .title h4 {
  font: normal 700 25px/12px var(--roboto);
}

.site-main .about-area {
  margin-top: 5rem;
}

.about-area .About-produce {
  box-shadow: var(--box-shadow);
}

.about-area .About-produce:hover {
  cursor: grab;
  transition: transform 2s;
  transform: scale(1.1);
}

.about-area .about-Space {
  margin-top: 4rem;
}

.site-main .subscribe-area {
  margin-top: 6rem;
}
.site-main .subscribe-area .subscribe {
  background: url(../img/subscribe-bg.png) no-repeat;
  padding: 10rem 0;
  margin: 3rem auto;
}
.site-main .subscribe-area .subsection-title h4 {
  font: normal 700 30px/30px var(--roboto);
  color: whitesmoke;
}
.site-main .subscribe-area .subsection-title p {
  color: whitesmoke;
  padding: 1rem 4rem;
}
.site-main .subscribe-area .subscribe form .input-textbox input {
  width: 400px;
  padding: 1.5rem 1rem;
  border: 1px solid whitesmoke;
  background: transparent;
  color: white;
  font: normal 500 17px/20px var(--roboto);
}
.site-main .subscribe-area .subscribe form .input-textbox input::placeholder {
  color: whitesmoke;
}
.site-main .subscribe-area .subscribe form .btn-submit button {
  background: white;
  color: #000;
  padding: 0.7rem 2rem;
}
.site-main .icons {
  background: url(../img/footer-bg.png) no-repeat;
}
.site-main .icons .img {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}

.site-main .icons .social a {
  padding: 0 4rem;
}
.site-main .icons .social a i:hover {
  transition: transform 1.5s;
  transform: scale(1.3);
}
